html
   head
      title = "navbar"
   style 
     include ../../public/style/styles.css
     
   body
    section.header
      a.logo(href='./') travel.
      nav.navbar
        a(href='./') Home
        a(href='./services') Services
        a(href='./contact') Contact
        a(href='./about') About
      #menu-btn.fas.fa-bars
    // header section ends