doctype html 
html 
head 
    title='offline'
    style.
        body{
        margin:17%;
        background-image: linear-gradient(white,grey);
         text-align:center;
            }
        h1{
           
            font-size:60px;
        }    
       
body     
    h1 Oops we're offline 
    p
        |   We ONLY WORK IN WEEK DAYS 
        br
        |   DAYS:FROM 'MONDAY' TO 'FRIDAY'
        br
        |   TIME:From 9 AM TO 7PM
    span wait for us!